.aboutPicture {
  width: 70vw;
  height: auto;
  margin-top: 4vh;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutParagraph {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Arima Madurai";
  font-weight: "light";
}
