.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Arima Madurai";
}

.socialIcons {
  height: 55px;
  width: auto;
}

.mailForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width:50vw;
}

.noteInput {
  height: 20%;
  width: 80%;
}

.contactParagraph {
  width: 70vw;
}
